/* Chrome, Safari, Edge, Opera */
::-webkit-scrollbar {
	display: none;
}

div {
	box-sizing: border-box;
}

html,
body {
	overflow: hidden;
	margin: 0;
	scrollbar-width: none;
	height: 100%;
}

#playground {
	width: 100%;
    background:
        linear-gradient(-90deg, rgba(0,0,0,.05) 1px, transparent 1px),
        linear-gradient(rgba(0,0,0,.05) 1px, transparent 1px),
        linear-gradient(-90deg, rgba(0, 0, 0, .04) 1px, transparent 1px),
        linear-gradient(rgba(0,0,0,.04) 1px, transparent 1px),
        linear-gradient(transparent 3px, #f2f2f2 3px, #f2f2f2 78px, transparent 78px),
        linear-gradient(-90deg, #aaa 1px, transparent 1px),
        linear-gradient(-90deg, transparent 3px, #f2f2f2 3px, #f2f2f2 78px, transparent 78px),
        linear-gradient(#aaa 1px, transparent 1px),
        #f2f2f2;
    background-size:
        16px 16px,
        16px 16px,
        80px 80px,
        80px 80px,
        80px 80px,
        80px 80px,
        80px 80px,
        80px 80px;
}

#bar {
	direction: rtl;
	border: none;
	background-color: rgb(52, 45, 73);
}

#bar > button {
	border: none;
	background: none;
	height: 100%;
	width: 60px;
}

#console {
	background-color: black;
	color: white;
	font-family: monospace;
	line-height: 1.2em;
	white-space: pre;
	border: thin gray solid;
	padding: 0.5em;
	overflow-y: scroll;
	scrollbar-color: rgb(129, 129, 129) rgb(52, 45, 73);
}

#pause-bttn.active #pause {
	fill: rgb(116, 130, 253);
}


@media all and (max-width: 1079px) {
    #monaco-editor-window,
    #playground,
    #console {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: calc(100% - 30px);
    }
    
    #bar {
        position: absolute;
        bottom: 0;
        right: 0;
        width: 100%;
        height: 30px;
    }
    
    #back-bttn {
        float: left;
    }
    
    body.canvas-mode > #console {
        background-color: transparent;
    }
    
    body.canvas-mode > #monaco-editor-window,
    body.consoleMode > #monaco-editor-window,
    body.consoleMode > #playground,
    body.edit-mode > #bar > #back-bttn,
    body.edit-mode > #bar > #pause-bttn,
    body.canvas-mode > #bar > #disassemble-bttn,
    body.console-mode > #bar > #disassemble-bttn,
    body.no-active-module > #bar > #pause-bttn,
    body.no-active-module > #bar > #play-bttn,
    body.edit-mode > #console,
    body.edit-mode > #playground,
    #fullscreen-bttn {
        display: none;
    }
}

@media all and (min-width: 1080px) {
    #monaco-editor-window {
        position: absolute;
        top: 0;
        left: 0;
        width: 50%;
        height: 100%;
    }
    
    #playground {
        position: absolute;
        top: 0;
        right: 0;
        width: 50%;
        height: 50%;
    }
    
    #bar {
        position: absolute;
        top: 50%;
        right: 0;
        width: 50%;
        height: 30px;
    }
    
    #console {
        position: absolute;
        bottom: 0;
        right: 0;
        width: 50%;
        height: calc(50% - 30px);
    }

    #back-bttn {
        display: none;
    }
}